.modal {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    box-shadow: 0 0 31px 0 rgba(0,0,0,0.75);
    background: #FFFFFF;
    overflow-y: scroll;
    z-index: 99;
    padding: 30px;
    line-height: 1.2;
}

.content {
    text-align: justify;
    line-height: 1.2;
}