.card {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 7px;
    padding: 5px 0;
    position: relative;
    border: 1px solid var(--greyD9);
    margin: 10px 0;
}