.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    justify-content: space-around;
}

.controlsValue {
    color: var(--greyC4);
}

.controlsDown, .controlsUp {
    border: none;
    cursor: pointer;
}